<div class="row row-players">
    <div class="col-3 offset-9 text-end">
        <form [formGroup]="playersForm">
            <label for="players">Nombre de joueurs</label>
            <select class="form-select" aria-label="Default select example" data-rpguitype="dropdown" formControlName="players" name="players" id="players-select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-3 offset-6">
        <div class="row">
            <div class="col-12">
                <h6>Créer un monstre</h6>
            </div>
        </div>
        <form [formGroup]="monsterForm" (ngSubmit)="submitMonster()">
            <div class="row">
                <div class="col-12">
                    <select class="form-select rpgui-cursor-default" aria-label="Default select example" formControlName="name" style="margin-bottom: 0.5rem;">
                        <div *ngFor="let monster of monstersData.monstersLevel1">
                            <option [value]="monster.name">{{monster.name}}</option>
                        </div>
                    </select>
                </div>    
            </div>
            <div class="row">
                <div class="col-12">
                    <select class="form-select rpgui-cursor-default" aria-label="Default select example" formControlName="level" style="margin-bottom: 0.5rem;">
                        <option value="1-2">Level 1-2</option>
                        <option value="3-4">Level 3-4</option>
                        <option value="5">Level 5</option>
                    </select>
                </div>  
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="submit button" class="rpgui-button"><span class="button-text">Créer</span></button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col-12">
                <h6>Créer un monstre errant</h6>
            </div>
        </div>
        <form [formGroup]="monsterForm" (ngSubmit)="submitMonster()">
            <div class="row">
                <div class="col-12">
                    <select class="form-select rpgui-cursor-default" aria-label="Default select example" formControlName="name" style="margin-bottom: 0.5rem;">
                        <div *ngFor="let monster of monstersData.monstersLevel1">
                            <option [value]="monster.name">{{monster.name}}</option>
                        </div>
                    </select>
                </div>    
            </div>
            <div class="row">
                <div class="col-12">
                    <select class="form-select rpgui-cursor-default" aria-label="Default select example" formControlName="level" style="margin-bottom: 0.5rem;">
                        <option value="1-2">Level 1-2</option>
                        <option value="3-4">Level 3-4</option>
                        <option value="5">Level 5</option>
                    </select>
                </div>  
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="submit button" class="rpgui-button"><span class="button-text">Créer</span></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="monsterList.length > 0" class="row rpgui-container framed-grey monsters-list">
    <div *ngFor="let monster of monsterList;" class="col-md-6" style="margin-bottom:10px;">
        <app-monster [monster]="monster"></app-monster>
    </div>
</div>