.modal-content {
    background-color: #1d1e1e;
    border-color: #dad45e;
}

.kill-log {
    color: white;
}

.button-text {
    font-size: 20px;
}

h1 {
    font-size: 30px !important;
}

.button-select {
    height: 100%;
    width: 35%;
}