<div class="rpgui-container framed-golden-2 custom-position">
  <div class="row" style="margin-bottom: 5px;">
    <div class="col-10">
      <h1 style="text-align: left;">{{monster.name | uppercase}}</h1>
    </div>
    <div class="col-2 text-end" style="padding-right: 0;">
      <button (click)="deleteMonster()" class="btn-close btn-close-white">

      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 rpgui-container framed-grey">
      <img [src]="monster.img" class="card-img-top" alt="..." style="height: 100%;">
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-6">
          <p>CAGNOTTE : {{monster.drop}}</p>
        </div>
        <div class="col-6 text-end">
          <p>SBIRES : {{currentMobNumber}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>DEFENSE &nbsp;: <span class="custom-font defense">{{defenseIcons}}</span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>HP TOTAL : {{currentLife}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p [innerHtml]="monster.action | uppercase"></p>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <hr>
        <div class="col">
          <form [formGroup]="damageForm" (ngSubmit)="dealDamage()">
            <div class="row">
              <div class="col-6 offset-3">
                <label for="damage">DOMMAGE</label>
                <input type="number" min="0" max="{{currentLife}}" formControlName="damage" name="damage"
                  class="text-center rpgui-cursor-point" style="margin-top:5px; margin-bottom: 5px;">
              </div>
            </div>
            <div class="row">
              <div class="col-6 offset-3">
                <button type="submit button" class="rpgui-button golden" style="width: 100%;">
                  <p class="button-text">ATTAQUER</p>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="exampleModalLive" class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel"
  style="display: block; padding-right: 15px;" *ngIf="showExpModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding-top: 10px;">
        <h2 class="modal-title" id="exampleModalLiveLabel">PAR ICI LA MONNAIE!</h2>
        <button type="button" class="btn-close btn-close-white close-modal rpgui-cursor-point" data-dismiss="modal"
          aria-label="Close" (click)="close()"></button>
      </div>
      <div class="modal-body" style="padding-top: 30px">
        <p>LE HERO GAGNE 1 EXP</p>
        <p>Le héro ramasse cette cagnotte</p>
        <p>Le groupe gagne 2 exp</p>
      </div>
    </div>
  </div>
</div>

