<div class="rpgui-container framed-golden-2 custom-position">
  <div class="row" style="margin-bottom: 5px;">
    <div class="col-10" style="">
      <h1 style="text-align: left;">{{monster.name | uppercase}}</h1>
    </div>
    <div class="col-2 text-end" style="padding-right: 0;">
      <button (click)="deleteMonster()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 rpgui-container framed-grey">
      <img src="/monsters/Untitled.png" class="card-img-top" alt="..." style="height: 100%;">
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-6">
          <p>Cagnotte: {{monster.drop}}</p>
        </div>
        <div class="col-6 text-end">
          <p>Sbires : {{currentMobNumber}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>Défense : <span class="custom-font defense">{{defenseIcons}}</span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>HP : {{currentLife}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p [innerHtml]="monster.action"></p>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <hr>
        <div class="col">
          <form [formGroup]="damageForm" (ngSubmit)="dealDamage()">
            <div class="row">
              <div class="col-6 offset-3">
                <label for="damage">Dommage</label>
                <input type="number" min="0" max="{{maxLife}}" formControlName="damage" name="damage" class="text-center" style="margin-top:5px; margin-bottom: 5px;">
              </div>
            </div>
            <div class="row">
              <div class="col-6 offset-3">
                <button type="submit button" class="rpgui-button golden" style="width: 100%;"><p class="button-text">Appliquer</p></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>