.custom-position {
    position: relative;
}

.CUSTOM-FONT {
    font-family: 'Custom', Fallback, sans-serif !important;
}

.custom-font{
    font-family: 'Custom', Fallback, sans-serif !important;
}

.defense {
    font-size: 2rem !important;
    color: #00d0f6 !important;
}

.attack {
    font-size: 3.5rem !important;
    color: #4e4a4e !important;
}

.DIE-YELLOW {
    font-size: 2rem !important;
    color: #f3c213 !important;
}

.SPECIAL {
    font-size: 2rem !important;
}

.MANA {
    font-size: 2rem !important;
}

input option:hover {
    box-shadow: 0 0 10px 100px #1882A8 inset;
}

.button-text {
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 1.0em;
    line-height: 20px;
    margin-top: 14px;
}

h1 {
    font-size: x-large !important;
    margin-bottom: 7px !important;
}

h2 {
    font-size: large !important;
}

hr {
    height: 14px !important;
}

.btn-close {
    padding-right: 15px;
}

img {
    image-rendering: auto !important;
}

.modal {
  position: fixed;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
 }

 .dead {
    opacity: 0.5;
 }