.form-darkness-1 {
    background-image: url("/darkness-1.png");
    background-size: cover;
}

.form-darkness-2 {
    background-image: url("/darkness-2.png");
    background-size: cover;
}

input {
    height: 5%;
    accent-color: #c4cd5e;
}

.darkness-1 {
    margin-top: 80px;
}

.darkness-2 {
    margin-top: 55px;
}
